<h2>Add New Book</h2>

<form (ngSubmit)="addBook()">
  <table border="0" cellpadding="8" cellspacing="0">
    <tr>
      <td><label for="title">Title</label></td>
      <td><input type="text" id="title" [(ngModel)]="book.title" name="title" required /></td>
    </tr>
    <tr>
      <td><label for="author">Author</label></td>
      <td><input type="text" id="author" [(ngModel)]="book.author" name="author" required /></td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <button type="submit">Add Book</button>
      </td>
    </tr>
  </table>
</form>